
*.pth

notebooks/\.ipynb_checkpoints/

notebooks/data/


notebooks/runs/fashion_mnist_experiment_1/

notebooks/runs/transfer_learning/

*.7z

*.xz

*.zip

.idea/

notebooks/runs/network_visualization/

*.tflite

notebooks/FashionMNIST/raw/

notebooks/model/

tf2/logs/metrics/

tf2/logs/train/

tf2/logs/validation/

*.h5

tf2/.ipynb_checkpoints/

notebooks/test_tensorflow/.ipynb_checkpoints/

*.jpg

.ipynb_checkpoints/
