
*.pth

notebooks/\.ipynb_checkpoints/

notebooks/data/


notebooks/runs/fashion_mnist_experiment_1/

notebooks/runs/transfer_learning/

*.7z

*.xz

*.zip

.idea/

notebooks/runs/network_visualization/

*.tflite

notebooks/FashionMNIST/raw/

notebooks/model/

tf2/logs/metrics/

tf2/logs/train/

tf2/logs/validation/

*.h5

tf2/.ipynb_checkpoints/

notebooks/test_tensorflow/.ipynb_checkpoints/

*.jpg

.ipynb_checkpoints/

Classification/VGG16/logs/train/plugins/profile/2020_06_03_11_20_58/

Classification/VGG16/logs/train/

Classification/LeNet5/logs/train/

Classification/ResNet50/logs/train/

Classification/LeNet5/tensorflow_datasets/cats_vs_dogs/4.0.0/

Classification/ResNet50/tensorflow_datasets/cifar100/3.0.2/

Classification/LeNet5/tensorflow_datasets/rock_paper_scissors/3.0.0/

Classification/VGG16/tensorflow_datasets/beans/0.1.0/

Classification/ResNet50/tensorflow_datasets/caltech101/3.0.0/

Classification/InceptionV3/tensorflow_datasets/caltech101/3.0.0/

*.gz

tensorflow_datasets/downloads/

Classification/InceptionV3/tensorflow_datasets/food101/2.0.0/

*.yaml

*.commit

*.user

*.type

*.name

Classification/LeNet5/mlruns/0/b477b5b7347b4cce9597afb0fa08a4c4/metrics/

Classification/LeNet5/mlruns/0/b477b5b7347b4cce9597afb0fa08a4c4/params/

Classification/InceptionV3/mlruns/

Classification/LeNet5/mlruns/

pytorch_model_optimization/Classification/data/cifar-10-batches-py/

pytorch_model_optimization/Classification/data/hymenoptera_data/train/ants/

pytorch_model_optimization/Classification/data/food-101/meta/

pytorch_model_optimization/Classification/data/food-101/

pytorch_model_optimization/Classification/data/MNIST/processed/

pytorch_model_optimization/Classification/data/MNIST/raw/

pytorch_model_optimization/Classification/data/101_ObjectCategories/BACKGROUND_Google/

pytorch_model_optimization/Classification/apex/
